* {
    margin : 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

ul,
li {
    list-style: none;
}

body {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    margin: 4px 10px;
    border-width: 2px ;
    border-color: red;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.center {
    border: 1px solid red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.outline {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

.line {
    height: 2px;
    border-radius: 3px;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    background-color: red;
    margin: 1px 0px;
    flex: none;
}

.word {
    width     : 100%;
    height    : 100px;
    background: whitesmoke;
    text-indent: 10px;
    flex: 0 1 auto;
    font: outline;
    font-family: 'Courier New', Courier, monospace, 微软雅黑;
    font-size: 20px;
}

.explain {
    width     : 100%;
    height    : 100%;
    flex: 1 1 auto;
    background-color: whitesmoke;
    text-indent: 10px;
    margin: 0px 0px;
}

.textbox {
    width     : 100%;
    height    : 100px;
    flex: 0 1 100px;
    background: whitesmoke;
}

#input {
    border-radius: 3px;
    border-color: black;
    text-align: center;
    width: 300px;
    height: 30px;
    padding: 2px;
}
